<% # Handle old behaviour of official mysql image %>
<% user     = ENV.key?("MYSQL_ROOT_PASSWORD") ? "root" : ENV["MYSQL_USER"] %>
<% password = ENV.key?("MYSQL_ROOT_PASSWORD") ? ENV["MYSQL_ROOT_PASSWORD"] : ENV["MYSQL_PASSWORD"] %>
<% host     = ENV["DATABASE_SERVICE_HOST"] %>
<% port     = ENV["DATABASE_SERVICE_PORT"] %>
<% database = ENV["MYSQL_DATABASE"] %>

<% user     = ENV.key?("RDS_ENDPOINT_ADDRESS") ? ENV["RDS_MASTER_USERNAME"] %>
<% password = ENV.key?("RDS_ENDPOINT_ADDRESS") ? ENV["RDS_MASTER_USER_PASSWORD"] %>
<% host     = ENV.key?("RDS_ENDPOINT_ADDRESS") ? ENV["RDS_ENDPOINT_ADDRESS"] %>
<% port     = ENV.key?("RDS_ENDPOINT_ADDRESS") ? ENV["RDS_PORT"] %>
<% database = ENV.key?("RDS_ENDPOINT_ADDRESS") ? ENV["RDS_DB_NAME"] %>

development:
  adapter: mysql2
  database: <%= database %>
  username: <%= user %>
  password: <%= password %>
  host:     <%= host %>
  port:     <%= port %>

test:
  adapter: mysql2
  database: <%= database %>
  username: <%= user %>
  password: <%= password %>
  host:     <%= host %>
  port:     <%= port %>

production:
  adapter: mysql2
  database: <%= database %>
  username: <%= user %>
  password: <%= password %>
  host:     <%= host %>
  port:     <%= port %>
